* {
	box-sizing: border-box;
}

body {
    font-family: 'Slabo', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../image/bg.png');
}

header {
    background-color: white;
	display: inline;
}

.navigation {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}

nav {
    padding: 5px;
    top: 0;
    float: right;
}

nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: blue;
}

nav li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

nav a:hover {
	font-weight: bold;
}

.card, .content {
    margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 70%;
    border-radius: 5px;
	padding: 20px;
	margin-top: 90px;
}

.card h1, .content h1 {
    text-align: center;
    margin-bottom: 50px;
}

.card a {
    text-decoration: none;
}

.card p {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.content {
    border-radius: 0;
    outline: 10px solid white;
    border: 1px solid #999;
}

.content h1 {
    margin-bottom: 30px;
}

.content p, a, .table-style {
    margin-left: 40px;
}

.nav-back {
    margin-top: 30px;
    margin-left: 12.5%;
}

.table-style {
    text-align: left;
}

.nav-back a {
    text-decoration: none;
}

table tr th, table tr td {
    padding-bottom: 15px;
}

.space {
    width: 200px;
    vertical-align: bottom;
}

footer {
    margin-top: 30px;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
}

