body {
  margin-top: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  margin-top: 100px;
  margin: auto;
  width: 500px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.container th, td {
  width: 150px;
  text-align: left;
  vertical-align: bottom;
}

.container td {
  padding-top: 10px;
}

.container button {
  margin-top: 10px;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
